*body{
    padding: 0;
    margin: 0;
    background-color: lightblue;
}
h2 {
    text-align: center;
    text-decoration:dashed;
    text-shadow: 2px lavender;
}
a{
    text-align: center;
}
.header{
    background-color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    background-color:whitesmoke;
}
.footer{
    background-color: beige;
}
